In [1]:
%%html
<link href="https://v1.fontapi.ir/css/Vazir" rel="stylesheet">
<link rel="stylesheet" href="style.css">

# <div class="farsi center">بسم الله الرحمن الرحیم</div>

## <div class="farsi right">محمد علی صدرایی- 400210993</div>
## <div class="farsi right">محمد مظفری- 400201167</div>
## <div class="farsi right">علیرضا زارع نژاد- 400201101</div>

# All results in the same place

In [3]:
import pandas as pd
results = {
    'Logestic Regression':{
        'train': 79.62,
        'test': 70.58,
        'eval': 73.5
    },
    'Bi-LSTM':{
        'train': 94.62,
        'test': 70.58,
        'eval': 71
    },
    'CNN':{
        'train': 99.62,
        'test': 71.17,
        'eval': 71.5
    },
    'BERT':{
        'train': 81.11,
        'test': 74.11,
        'eval': 74.5
    }
}
df = pd.DataFrame.from_dict(results, orient='index')
df

                     train   test  eval
Logestic Regression  79.62  70.58  73.5
Bi-LSTM              94.62  70.58  71.0
CNN                  99.62  71.17  71.5
BERT                 81.11  74.11  74.5